doctype html 
html 
    head 
        title reset your password 
    body 
        form(action="/reset/val") 
            h1 Enter the otp that was sent to your mail
            input(type="text",name="code",placeholder="one time password")
            input(type="submit")
